#include <behaviors.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NUMBERS 1
#define SYMBOLS 2
#define BLUE_TOOTH_LAYER 3
#define GAMEPAD 4

#define COMBO_DELAY 50


/ {
	chosen {
		zmk,matrix-transform = &five_column_transform;
	};
// Combomap
//
// ╭⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼╮      ╭⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼╮
// │       │    ESC    │     │     │      │     │    ESC    │     \       │
// ├⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼┩      ├⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼┩
// │       │BackSpace Tab    │     │      │     <     :     >     │       │
// ├⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼RMB⎼╃⎼LMB⎼┩      ├ENTER╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼┩
// │       │     -   ENTER   │     │      │     '     _     │     │       │
// ╰⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼╯      ╰⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼╯
//            ╭⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼╮            ╭⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼╮
//            │     │     │     │            │     │     │     │
//            ╰⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼╯            ╰⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼╯
	combos {
		compatible = "zmk,combos";
		combo_backslash {
		    timeout-ms = <COMBO_DELAY>;
		    key-positions = <8 9>; // op
		    bindings = <&kp BSLH>;
		    layers = <DEFAULT>;
		};
		combo_backspace {
		    timeout-ms = <COMBO_DELAY>;
		    key-positions = <11 12>; // sd
		    bindings = <&kp BSPC>;
		    layers = <DEFAULT>;
		};
		combo_ecs {
		    timeout-ms = <COMBO_DELAY>;
		    key-positions = <1 2>;  // we
		    bindings = <&kp ESC>;
		    layers = <DEFAULT>;
		};
		combo_less_than {
		    timeout-ms = <COMBO_DELAY>;
		    key-positions = <15 16>;  // hj
		    bindings = <&kp LT>;
		    layers = <DEFAULT>;
		};
		combo_colon {
		    timeout-ms = <COMBO_DELAY>;
		    key-positions = <16 17>;  // jk
		    bindings = <&kp COLON>;
		    layers = <DEFAULT>;
		};
		combo_greater_than {
		    timeout-ms = <COMBO_DELAY>;
		    key-positions = <17 18>;  // kl
		    bindings = <&kp GT>;
		    layers = <DEFAULT>;
		};
		combo_underscore {
		    timeout-ms = <COMBO_DELAY>;
		    key-positions = <26 27>;  // m,
		    bindings = <&kp UNDERSCORE>;
		    layers = <DEFAULT>;
		};
		combo_delete {
		    timeout-ms = <COMBO_DELAY>;
		    key-positions = <21 22>;  // xc
		    bindings = <&kp DELETE>;
		    layers = <DEFAULT>;
		};
	};

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
//       ╭⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼╮   ╭⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╮
//       │      0     │  1  │  2  │  3  │  4  │   │  5  │  6  │    7    │  8    │       9       │
//       │      Q     │  W  │  E  │  R  │  T  │   │  Y  │  U  │    I    │  O    │       P       │
             &kp Q     &kp W &kp E &kp R &kp T     &kp Y &kp U   &kp I   &kp O       &kp P
//       ├⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼┩   ├⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┩
//       │     10     │  11 │  12 │  13 │  14 │   │  15 │  16 │   17    │  18   │      19       │
//       │   CTRL A   │  S  │  D  │  F  │  G  │   │  H  │  J  │    K    │  L    │    CTRL ;     │
          &mt LCTRL A  &kp S &kp D &kp F &kp G     &kp H &kp J   &kp K    &kp L   &mt LCTRL SEMI
//       ├⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼┩   ├⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┩
//       │    20      │  21 │  22 │  23 │  24 │   │  25 │  26 │   27    │  28   │      29       │
//       │   SHFT Z   │  X  │  C  │  V  │  B  │   │  N  │  M  │    ,    │  .    │    SHFT /     │
          &mt LSHIFT Z &kp X &kp C &kp V &kp B     &kp N &kp M &kp COMMA &kp DOT &mt LSHIFT FSLH
//       ╰⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼╯   ╰⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╯
// ╭⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╮   ╭⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼╮
// │           │            │                 │   │                 │          │         │
// │   META    │ ENT ALT    │   SPC SPE       │   │    SPC NUM      │ SHFT     │ TAB     │
     &kp LGUI   &mt LALT RET &lt SYMBOLS SPACE     &lt NUMBERS SPACE &kp LSHIFT  &kp TAB
// ╰⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╯   ╰⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼╯
                        >;
                };

                number_layer {
                        bindings = <
// ╭⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼╮      ╭⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╮
// │     0      │  1   │  2   │  3   │  4   │      │      5        │  6           │  7         │       8       │     9       │
// │     1      │  2   │  3   │  4   │  5   │      │      6        │  7           │  8         │       9       │     0       │
      &kp N1     &kp N2 &kp N3 &kp N4 &kp N5           &kp N6        &kp N7         &kp N8          &kp N9        &kp N0
// ├⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼┩      ├⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┩
// │   10       │  11  │  12  │  13  │  14  │      │     15        │     16       │    17      │    18         │    19       │
// │   F1       │  F2  │  F3  │  F4  │  F5  │      │    LEFT       │    DOWN      │    UP      │    RIGHT      │   Vol Up    │
    &kp F1       &kp F2 &kp F3 &kp F4 &kp F5          &kp LEFT         &kp DOWN      &kp UP       &kp RIGHT     &kp C_VOL_UP
// ├⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼┩      ├⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┩
// │     20     │  21  │  22  │  23  │  24  │      │  25           │    26        │  27        │  28           │   29        │
// │     F6     │  F7  │  F8  │  F9  │  F10 │      │  Mouse Left   │ Mouse Down   │Mouse Up    │Mouse Right    │  Vol Down   │
//     &kp F6    &kp F7 &kp F8 &kp F9 &kp F10       &mmv MOVE_LEFT  &mmv MOVE_DOWN &mmv MOVE_UP &mmv MOVE_RIGHT &kp C_VOL_DN
       &kp F6    &kp F7 &kp F8 &kp F9 &kp F10           &trans          &trans       &trans        &trans       &kp C_VOL_DN
// ╰⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼╯      ╰⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╯
//  ╭⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╮      ╭⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼╮
//  │           │         │                 │      │                 │            │         │
//  │    F11    │   F12   │      SPC SPE    │      │ SPC NUM         │ Play/Pause │         │
      &kp F11     &kp F12  &trans                    &trans            &kp C_PP    &to BLUE_TOOTH_LAYER
//  ╰⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╯      ╰⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼╯
                                          >;
                };

                symbol_layer {
// -----------------------------------------------------------------------------------------
                        bindings = <
// ╭⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼╮      ╭⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼╮
// │     0     │    1    │  2     │  3     │  4     │      │   5     │    6     │   7     │  8       │     9   │
// │     !     │    @    │  {     │  }     │  |     │      │   `     │    ~     │   "     │          │     \   │
     &kp EXCL     &kp AT  &kp LBRC &kp RBRC &kp PIPE        &kp GRAVE &kp TILDE  &kp DQT   &trans     &kp BSLH
// ├⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼┩      ├⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼┩
// │   10      │  11     │  12    │  13    │  14    │      │   15    │    16    │   17    │  18      │    19   │
// │   #       │   $     │  (     │  )     │        │      │   +     │    -     │   /     │   *      │    '    │
    &kp HASH    &kp DLLR  &kp LPAR &kp RPAR &trans          &kp PLUS  &kp MINUS  &kp BSLH  &kp STAR   &kp APOS
// ├⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼┩      ├⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼┩
// │     20    │  21     │  22    │  23    │  24    │      │   25    │    26    │   27    │    28    │   29    │
// │     %     │   ^     │   [    │   ]    │        │      │   &     │    =     │   ,     │     .    │         │
     &kp PRCNT  &kp CARET &kp LBKT &kp RBKT &trans          &kp AMPS  &kp EQUAL  &kp COMMA   &kp DOT  &trans
// ╰⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼╯      ╰⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼╯
//          ╭⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╮      ╭⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼╮
//          │           │         │                 │      │                 │            │         │
//          │           │   ;     │                 │      │    SPC NUM      │     :      │         │
             &to GAMEPAD &kp SEMI     &trans                     &trans        &kp COLON    &trans
//          ╰⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╯      ╰⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼╯
		   >;
                };

                blue_tooth_layer {
// -----------------------------------------------------------------------------------------
                   bindings = <
   &trans &trans &trans &trans         &bt BT_SEL 0      &to GAMEPAD &trans &trans &trans &trans
   &trans &trans &trans &bt BT_CLR_ALL &bt BT_SEL 1      &to DEFAULT &trans &trans &trans &trans
   &trans &trans &trans &bt BT_CLR     &bt BT_SEL 2      &kp Z       &trans &trans &trans &trans
                 &trans &trans         &trans            &trans      &trans &trans>;
		};
		gamepad_layer {
// -----------------------------------------------------------------------------------------
// Keymap 3: Game Layer
//
// ╭⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼╮        ╭⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼╮
// │  ESC  │  Q  │  W  │  E  │  R  │        │  F1 │  F2 │  F3 │  F4 │   F5  │
// ├⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼┩        ├⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼┩
// │ SHIFT │  A  │  S  │  D  │  F  │        │ F11 │  G  │  B  │     │       │
// ├⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼┩        ├⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼┩
// │ CTRL  │     │     │     │  C  │        │  L  │  O  │     │     │       │
// ╰⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼╯        ╰⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼╯
//            ╭⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼╮             ╭⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╮
//            │ ESC │ TAB │ SPC │             │     │     │ ToggleGame │
//            ╰⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼╯             ╰⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╯
		    bindings = <
   &kp ESC    &kp Q &kp W &kp E &kp R        &kp F1  &kp F2 &kp F3 &kp F4 &kp F5
   &kp LSHIFT &kp A &kp S &kp D &kp F        &kp F11 &kp G  &kp B  &none &none
   &kp LCTRL  &none &none &none &kp C        &kp L   &kp O  &none &none &none
            &kp ESC &kp TAB &kp SPACE        &none   &none  &to DEFAULT
		    >;
		};
        };
};
