#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NUMBERS 1
#define SYMBOLS 2
#define BLUE_TOOTH_LAYER 3

/ {
	chosen {
		zmk,matrix-transform = &five_column_transform;
	};
	combos {
		compatible = "zmk,combos";
		combo_backspace {
		    timeout-ms = <100>;
		    key-positions = <11 12>; // s and d
		    bindings = <&kp BSPC>;
		};
		combo_ecs {
		    timeout-ms = <100>;
		    key-positions = <1 2>;  // w and e
		    bindings = <&kp ESC>;
		};
		combo_colon {
		    timeout-ms = <100>;
		    key-positions = <16 17>;  // j and k
		    bindings = <&kp COLON>;
		};
	};

	conditional_layers {
		compatible = "zmk,conditional-layers";
		blue_tooth {
		if-layers = <NUMBERS SYMBOLS>;
		then-layer = <BLUE_TOOTH_LAYER>;
		};
	};
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
// ╭⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼╮      ╭⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼╮
// │     0      │  1  │  2  │  3  │  4  │      │  5  │  6  │  7      │  8    │   9   │
// │     Q      │  W  │  E  │  R  │  T  │      │  Y  │  U  │  I      │  O    │   P   │
      &kp Q      &kp W &kp E &kp R &kp T        &kp Y &kp U &kp I     &kp O   &kp P
// ├⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼┩      ├⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼┩
// │   10       │  11 │  12 │  13 │  14 │      │  15 │  16 │  17     │  18   │  19   │
// │ CTRL A     │  S  │  D  │  F  │  G  │      │  H  │  J  │  K      │  L    │CTRL ; │
   &mt LCTRL A   &kp S &kp D &kp F &kp G        &kp H &kp J &kp K     &kp L   &kp SEMI
// ├⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼┩      ├⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼┩
// │  20        │  21 │  22 │  23 │  24 │      │  25 │  26 │  27     │  28   │  29   │
// │ SHFT Z     │  X  │  C  │  V  │  B  │      │  N  │  M  │  ,      │  .    │SHFT / │
    &mt LSHIFT Z &kp X &kp C &kp V &kp B        &kp N &kp M &kp COMMA &kp DOT &kp FSLH
// ╰⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼╯      ╰⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼╯
// ╭⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╮   ╭⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼╮
// │           │         │                 │   │                 │          │         │
// │ ESC META  │ ENT ALT │ SPC SPE         │   │ SPC NUM         │ SHFT     │ TAB     │
     &kp LGUI   &kp RET   &lt SYMBOLS SPACE     &lt NUMBERS SPACE &kp LSHIFT  &kp TAB
// ╰⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╯   ╰⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼╯
                        >;
                };

                number_layer {
                        bindings = <
// ╭⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼╮      ╭⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╮
// │     0      │  1   │  2   │  3   │  4   │      │      5      │  6      │  7       │  8       │   9         │
// │     1      │  2   │  3   │  4   │  5   │      │      6      │  7      │  8       │  9       │   0         │
      &kp N1     &kp N2 &kp N3 &kp N4 &kp N5           &kp N6      &kp N7    &kp N8     &kp N9     &kp N0
// ├⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼┩      ├⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┩
// │   10       │  11  │  12  │  13  │  14  │      │  15         │  16     │     17   │    18    │    19       │
// │   F1       │  F2  │  F3  │  F4  │  F5  │      │  LEFT       │  DOWN   │     UP   │    RIGHT │   Vol Up    │
    &kp F1       &kp F2 &kp F3 &kp F4 &kp F5         &kp LEFT     &kp DOWN    &kp UP    &kp RIGHT  &kp C_VOL_UP
// ├⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼┩      ├⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╃⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┩
// │     20     │  21  │  22  │  23  │  24  │      │  25         │  26     │  27      │  28      │   29        │
// │     F6     │  F7  │  F8  │  F9  │  F10 │      │             │         │          │          │  Vol Down   │
       &kp F6    &kp F7 &kp F8 &kp F9 &kp F10        &trans        &trans    &trans     &trans    &kp C_VOL_DN
// ╰⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼╯      ╰⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╯
//  ╭⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╮      ╭⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┱⎼⎼⎼⎼⎼⎼⎼⎼⎼╮
//  │           │         │                 │      │                 │            │         │
//  │    F11    │   F12   │      SPC SPE    │      │ SPC NUM         │ Play/Pause │         │
      &kp F11      &kp F12   &kp SPACE               &trans            &kp C_PP    &trans
//  ╰⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼╯      ╰⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼⎼┵⎼⎼⎼⎼⎼⎼⎼⎼⎼╯
                                          >;
                };

                symbol_layer {
// -----------------------------------------------------------------------------------------
// |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |
// |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |
// |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |
//                   | GUI |     |SPC|     | ENT |     | ALT |
                        bindings = <
   &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR
   &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH
   &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE
                   &trans   &trans   &trans      &trans    &trans    &trans>;
                };

                blue_tooth_layer {
// -----------------------------------------------------------------------------------------
                        bindings = <
   &trans &trans &trans &trans     &bt BT_SEL 0      &trans &trans &trans &trans &trans
   &trans &trans &trans &trans     &bt BT_SEL 1      &trans &trans &trans &trans &trans
   &trans &trans &trans &bt BT_CLR &bt BT_SEL 2      &trans &trans &trans &trans &trans
                 &trans &trans     &trans            &trans &trans &trans>;
		};
        };
};
